*.lnk
*.xrpt
*.swp
/build/
/.project
/_ngo/
/_xmsgs/
/xst/
/xlnx_auto_0_xdb/
/hdmi2usb.bgn
/hdmi2usb.bit
/hdmi2usb_bitgen.xwbt
/hdmi2usb.bld
/hdmi2usb.drc
/hdmi2usb.lso
/hdmi2usb_map.csv
/hdmi2usb_map.map
/hdmi2usb_map.mrp
/hdmi2usb_map.ncd
/hdmi2usb_map.ngm
/hdmi2usb_map.txt
/hdmi2usb.ncd
/hdmi2usb.ngc
/hdmi2usb.ngd
/hdmi2usb.ngr
/hdmi2usb.pad
/hdmi2usb_pad.csv
/hdmi2usb_pad.txt
/hdmi2usb.par
/hdmi2usb.pcf
/hdmi2usb.ptwx
/hdmi2usb.srp
/hdmi2usb_summary.xml
/hdmi2usb.unroutes
/hdmi2usb_usage.xml
/hdmi2usb.xpi
/par_usage_statistics.html
/usage_statistics_webtalk.html
/webtalk.log
/_impactbatch.log
/impact.xsl
/impact_impact.xwbt
/webtalk_impact.xml
